.main-container {
    width: 100%;
}

.p-profile-title {
    display: flex;
    width: 100%;
    background-color: black;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border: solid 1px var(--titleColor);
    border-radius: 5px;
    font-weight: bolder;
}

.p-profile-title div {
    display: flex;
    align-items: center;
    width: fit-content;
}

.p-profile-title p,
.p-profile-title i {
    color: var(--titleColor);
    font-size: 18px;
    margin: 0;
}

.p-profile-title i {
    font-size: 24px;
    margin-right: 6px;
}

.p-profile-container {
    width: 100%;
    display: flex;
    margin-top: 10px;
    background-color: var(--headerBorderColor);
    padding: 10px;
    border-radius: 5px;
}

.profile {
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    background-color: #404040;
}

.profile-main {
    width: 60%;
    margin: auto;
    min-width: 300px;
    border-radius: 5px;
    padding: 10px;
    background-color: black;
    box-shadow: 0 0 3px white;
    padding-bottom: 20px;
}

.profile-avt {
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.profile-avt img {
    width: 100%;
    height: 150px;
    padding: 2px;
    border: solid 2px grey
}

.profile-avt form {
    height: 0;
    visibility: hidden;
}

.profile-avt-btnsubmit, .profile-avt-btnsubmit-google {
    display: block;
    padding: 3px 10px;
    color: rgb(255, 255, 255);
    background-color: var(--buttonBackgroundColor);
    border: solid 1px white;
    border-radius: 5px;
    margin: auto;
    font-size: var(--fontSize);
    margin-top: 5px;
    box-shadow: 0 0 7px black inset;
    text-shadow: var(--textShadow);
}

.profile-avt-btnsubmit:hover, .profile-avt-btnsubmit-google:hover {
    background-color: var(--buttonBackgroundColorOnHover);
}

.profile-infor {
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    font-size: var(--fontSize);
    background-color: #404040;
    border-radius: 5px;
    border: solid 1px grey;
    margin-bottom: 10px;

}

.profile-infor div {
    display: flex;
    flex-direction: column;
}

.profile-infor div label {
    margin-bottom: 10px;
    font-weight: 500;
    color: white;
    text-shadow: 0 0 3px black;
}

.profile-infor div input {
    padding: 3px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    pointer-events: none;
    border-style: solid;
}

.profile-infor button {
    padding: 0;
    margin: 0;
    display: none
}

.profile-infor-btn {
    border: solid 1px white;
    background-color: var(--buttonBackgroundColor);
    box-shadow: 0 0 7px black inset;
    text-shadow: var(--textShadow);
    color: white;
    width: fit-content;
    border-radius: 5px;
    padding: 3px 10px;
    font-size: var(--fontSize);
    cursor: pointer;
}

.profile-infor-btnedit {
    margin: auto;
}

.profile-infor-btnedit:hover {
    background-color: var(--buttonBackgroundColorOnHover);
}

.profile-infor-btngroup {
    display: flex;
    width: fit-content;
    margin: auto;
    display: none;
}

.profile-infor-btngroup div {
    margin: 0px 10px;
}

.profile-infor-created input:disabled {
    background-color: white;
    color: black;
    border-color: gray;
}