div.bottom_content {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: var(--headerBorderColor);
    display: flex;
    border-radius: 5px;
    border: solid 1px var(--headerBorderColor);
}

.episode_film {
    background-color: var(--childBackgroundColor);
    width: 35%;
    max-width: 370px;   
    padding: 10px;
}

.episode_film .episode_title {
    width: 100%;
    padding: 9px 0;
    text-align: center;
    color: var(--titleColor );
    font-size: var(--fontSize);
    font-weight: 500;
    background-color: var(--themeBackgroundColor);
}

.episode_film .episode_container {
    width: 100%;
}
.episode_film .episode_container div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    margin-top: 5px;
    padding: 5px;
    background-color: var(--backgroundColor);   
}
.episode_film .episode_container div a {
    display: block;
    width: 20%;
    padding: 5px 10px;
    color: var(--themeColor);
    text-align: center;
    text-decoration: none;
    border: solid 1px grey;
}
.episode_film .episode_container div a:hover{
    background-color: rgb(95, 95, 95);
}
